{% extends 'nav.html' %}
{% block title %}
ecomproj_gaya3 login
{% endblock title %}
{% block style %}
<style>
    .btn{font-family:"Raleway",sans-serif;
    font-weight:500;
    font-size:16px;
    letter-spacing:1px;
    display:inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border:2px solid #3498db;
    }
    .btn:hover{
    background-color:black;
    color:white;
    }
</style>
{% endblock style %}
{% block form %}
<br>
 <h1 data-aos="fade-up">Login</h1>

{% for message in messages %}
<div class="container" data-aos="fade-up" data-aos-delay="400">
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    </div>
{% endfor %}
<form action="/ecom_auth/login/" method="post">
    {% csrf_token %}
    <br>
    <label for="email">Email</label>
     <div class="form-group">
        <input type="email" class="form-control" id="email" name="email" placeholder="enter your email" required>
     </div>
    <br>
    <label for="pass1">Password</label>
     <div class="form-group">
        <input type="password" class="form-control" id="pass1" name="pass1" placeholder="enter your password" required>
     </div>
  <br>
    <button type="submit" class="btn"> LogIn</button>
    <br>
    <br>
    Not A User? <a href="/ecom_auth/signup">SignUp</a><br>
    Forgot Password <a href="/ecom_auth/request-reset-email/"> Click here to Reset password </a>
    <br>
   Go back to <a href="/" > HOME</a>
</form>
    </div>
{% endblock form %}
